@mixin fontstyle($fontfamily: Roboto, $color: #262626, $fontsize: 20px, $fontweight: 400, $lineheight: 25px, $letterspacing: 0) {
	font-family: $fontfamily;
	color: $color;
	font-size: $fontsize;
	font-weight: $fontweight;
	line-height: $lineheight;
	letter-spacing: $letterspacing;
}

@mixin title($color: #fff, $top: 100px, $right: 265px) {
	text-transform: uppercase;
	text-align: center;

	&::after {
		content: '';
		position: absolute;
		top: $top;
		right: $right;
		width: 86px;
		height: 2px;
		background: $color;
	}
}
